html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#navigation,
#node-children,
#breadcrumbs-container,
#tag,
#popout {
    display: none !important;
}

a {
    color: black;
}

#content a:after {
    content: " [" attr(href) "]";
    font-size: small;
}

#footer {
    margin-top: 2em;
    font-size: small;
}

dl.compact dt {
    float: left;
    clear: both;
}

pre, tt, code, kbd {
    font-family: Consolas, "Lucida Console", "Courier New", monospace;
}
